.jumbotron {
	background-color: grey;
	color: white;
	margin-top: 50px;
}

 footer {
	padding: 10px 10px 0 10px;
	background-color: grey;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-sistemas {
	flex: 1 200px;
	margin-top: 10px;

}

.btn-sistemas {
	width: 100%;
	background-color: grey;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}