$grey: #807f73;

@mixin margenes($top, $bottom){
	margin-top: $top
	margin-bottom: $bottom
}

.jumbotron {
	background-color: grey;
	color: white;
	@include margenes (50px, 0px);
}

 footer {
	padding: 10px 10px 0 10px;
	background-color: grey;
	@include margenes (10px, 0px);
}

.card-sistemas {
	flex: 1 200px;
	@include margenes (10px, 0px);

}

.btn-sistemas {
	width: 100%;
	background-color: grey;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}