@grey: #807f73;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
	background-color: @grey;
	color: white;
	.margenes(50px, 0px);
	}

 footer {
	padding: 10px 10px 0 10px;
	background-color: @grey;
	.margenes(10px, 0px);
	}

.card-sistemas {
	flex: 1 200px;
	.margenes(10px, 0px);
	}

.btn-sistemas {
	width: 100%;
	background-color: @grey;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}