.jumbotron {
  background-color: #807f73;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #807f73;
  margin-top-top: 10px;
  margin-bottom: 0px;
}
.card-sistemas {
  flex: 1 200px;
  margin-top-top: 10px;
  margin-bottom: 0px;
}
.btn-sistemas {
  width: 100%;
  background-color: #807f73;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
